<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8"></meta>
<title>Forms</title>
<!-- Bootstrap -->
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"
	media="screen" />
<link th:href="@{/css/bootstrap-responsive.min.css}" rel="stylesheet"
	media="screen" />
<link th:href="@{/css/styles.css}" rel="stylesheet" media="screen" />
</head>

<body>
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container-fluid">
				<a class="btn btn-navbar" data-toggle="collapse"
					data-target=".nav-collapse"> <span class="icon-bar"></span> <span
					class="icon-bar"></span> <span class="icon-bar"></span>
				</a> <a class="brand" href="#">物业管理系统v1.0</a>
				<div class="nav-collapse collapse">
					<ul class="nav pull-right">
						<li class="dropdown"><a th:inline="text" href="#"
							role="button" class="dropdown-toggle" data-toggle="dropdown">
								<i class="icon-user"></i>你好，[[${name}]]<i class="caret"></i>

						</a>
							<ul class="dropdown-menu">
								<li class="divider"></li>
								<li><a tabindex="-1" href="/logout">退出登录</a></li>
							</ul></li>
					</ul>
					<ul class="nav">
					</ul>
				</div>
				<!--/.nav-collapse -->
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span3" id="sidebar">
				<ul class="nav nav-list bs-docs-sidenav nav-collapse collapse">
					<li><a href="#"><span th:text="${count0}"
							class="badge badge-success pull-right">10</span>用&nbsp;&nbsp;&nbsp;&nbsp;户</a>
					</li>
					<li class="active"><a href="/addUser"><i
							class="icon-chevron-right"></i>新增用户</a></li>
					<li><a href="/userManager"><i class="icon-chevron-right"></i>用户管理</a>
					</li>
					<li><a href="#"><span th:text="${count1}"
							class="badge badge-success pull-right">32</span>缴&nbsp;&nbsp;&nbsp;&nbsp;费</a>
					</li>
					<li><a href="/addRecord0"><i class="icon-chevron-right"></i>新增水费记录</a>
					</li>
					<li><a href="/addRecord1"><i class="icon-chevron-right"></i>新增电费记录</a>
					</li>
					<li><a href="/addRecord2"><i class="icon-chevron-right"></i>新增燃气费记录</a>
					</li>
					<li><a href="/addRecord3"><i class="icon-chevron-right"></i>新增停车费记录</a>
					</li>
					<li><a href="/addRecord4"><i class="icon-chevron-right"></i>新增物管费记录</a>
					</li>
					<li><a href="/recordManager"><i class="icon-chevron-right"></i>缴费管理</a>
					</li>
					<li><a href="#"><span th:text="${count2}"
							class="badge badge-info pull-right">27</span>公&nbsp;&nbsp;&nbsp;&nbsp;告</a>
					</li>
					<li><a href="/addNotice"><i class="icon-chevron-right"></i>新增公告</a>
					</li>
					<li><a href="/noticeManager"><i class="icon-chevron-right"></i>公告管理</a>
					</li>
					<li><a href="#"><span th:text="${count3}"
							class="badge badge-info pull-right">25</span>论&nbsp;&nbsp;&nbsp;&nbsp;坛</a>
					</li>
					<li><a href="/forumManager"><i class="icon-chevron-right"></i>论坛管理</a></li>
				</ul>
			</div>
			<!--/span-->
			<div class="span9" id="content">
				<!-- validation -->
				<div class="row-fluid">
					<!-- block -->
					<div class="block">
						<div class="navbar navbar-inner block-header">
							<div class="muted pull-left">新增用户</div>
						</div>
						<div class="block-content collapse in">
							<div class="span12">
								<!-- BEGIN FORM-->
								<form action="#" id="form_sample_1" class="form-horizontal">
									<fieldset>
										<div class="control-group">
											<label class="control-label" for="focusedInput">账&nbsp;&nbsp;&nbsp;&nbsp;号</label>
											<div class="controls">
												<input class="input-xlarge focused" id="ipt_0" type="text"
													placeholder="请输入账号..." />
											</div>
										</div>
										<div class="control-group">
											<label class="control-label" for="focusedInput">用户名</label>
											<div class="controls">
												<input class="input-xlarge focused" id="ipt_1" type="text"
													placeholder="请输入用户名..." />
											</div>
										</div>
										<div class="control-group">
											<label class="control-label" for="focusedInput">电&nbsp;&nbsp;&nbsp;&nbsp;话</label>
											<div class="controls">
												<input class="input-xlarge focused" id="ipt_2" type="text"
													placeholder="请输入联系电话..." />
											</div>
										</div>
										<div class="control-group">
											<label class="control-label">性&nbsp;&nbsp;&nbsp;&nbsp;别</label>
											<div class="controls">
												<select id="ipt_3" class="span6 m-wrap">
													<option checked="checked" value="1">男</option>
													<option value="0">女</option>
												</select>
											</div>
										</div>
										<div class="control-group">
											<label class="control-label" for="focusedInput">栋&nbsp;&nbsp;&nbsp;&nbsp;数</label>
											<div class="controls">
												<input class="input-xlarge focused" id="ipt_4" type="text"
													placeholder="请输入栋数..." />
											</div>
										</div>
										<div class="control-group">
											<label class="control-label" for="focusedInput">单&nbsp;&nbsp;&nbsp;&nbsp;元</label>
											<div class="controls">
												<input class="input-xlarge focused" id="ipt_5" type="text"
													placeholder="请输入单元..." />
											</div>
										</div>
										<div class="control-group">
											<label class="control-label" for="focusedInput">门牌号</label>
											<div class="controls">
												<input class="input-xlarge focused" id="ipt_6" type="text"
													placeholder="请输入门牌..." />
											</div>
										</div>
										<div class="form-actions">
											<button onclick="btn_cancel()" type="button" class="btn">取&nbsp;&nbsp;&nbsp;&nbsp;消</button>
											<button onclick="btn_ok()" class="btn btn-primary">添&nbsp;&nbsp;&nbsp;&nbsp;加</button>
										</div>
									</fieldset>
								</form>
								<!-- END FORM-->
							</div>
						</div>
					</div>
					<!-- /block -->
				</div>
				<!-- /validation -->


			</div>
		</div>
	</div>
	<!--/.fluid-container-->
	<link th:href="@{/vendors/datepicker.css}" rel="stylesheet"
		media="screen" />
	<link th:href="@{/vendors/uniform.default.css}" rel="stylesheet"
		media="screen" />
	<link th:href="@{/vendors/chosen.min.css}" rel="stylesheet"
		media="screen" />

	<link th:href="@{/vendors/wysiwyg/bootstrap-wysihtml5.css}"
		rel="stylesheet" media="screen" />

	<script th:src="@{/js/jquery-1.9.1.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>

	<script th:src="@{/vendors/jquery.uniform.min.js}"></script>
	<script th:src="@{/vendors/chosen.jquery.min.js}"></script>
	<script th:src="@{/vendors/bootstrap-datepicker.js}"></script>

	<script th:src="@{/vendors/wysiwyg/wysihtml5-0.3.0.js}"></script>
	<script th:src="@{/vendors/wysiwyg/bootstrap-wysihtml5.js}"></script>

	<script th:src="@{/vendors/wizard/jquery.bootstrap.wizard.min.js}"></script>

	<script type="text/javascript"
		th:src="@{/vendors/jquery-validation/dist/jquery.validate.min.js}"></script>
	<script th:src="@{/assets/form-validation.js}"></script>

	<script th:src="@{/assets/scripts.js}"></script>
	<script>
		jQuery(document).ready(function() {
			FormValidation.init();
		});

		$(function() {
			$(".datepicker").datepicker();
			$(".uniform_on").uniform();
			$(".chzn-select").chosen();
			$('.textarea').wysihtml5();

			$('#rootwizard').bootstrapWizard(
					{
						onTabShow : function(tab, navigation, index) {
							var $total = navigation.find('li').length;
							var $current = index + 1;
							var $percent = ($current / $total) * 100;
							$('#rootwizard').find('.bar').css({
								width : $percent + '%'
							});
							// If it's the last tab then hide the last button and show the finish instead
							if ($current >= $total) {
								$('#rootwizard').find('.pager .next').hide();
								$('#rootwizard').find('.pager .finish').show();
								$('#rootwizard').find('.pager .finish')
										.removeClass('disabled');
							} else {
								$('#rootwizard').find('.pager .next').show();
								$('#rootwizard').find('.pager .finish').hide();
							}
						}
					});
			$('#rootwizard .finish').click(function() {
				alert('Finished!, Starting over!');
				$('#rootwizard').find("a[href*='tab1']").trigger('click');
			});
		});

		function btn_cancel() {
			window.location.href = "/userManager";
		}

		function btn_ok() {
			var ipt_0 = $("#ipt_0").val();
			var ipt_1 = $("#ipt_1").val();
			var ipt_2 = $("#ipt_2").val();
			var ipt_3 = $("#ipt_3").val();
			var ipt_4 = $("#ipt_4").val();
			var ipt_5 = $("#ipt_5").val();
			var ipt_6 = $("#ipt_6").val();

			ipt_0 = $.trim(ipt_0);
			ipt_1 = $.trim(ipt_1);
			ipt_2 = $.trim(ipt_2);
			ipt_3 = $.trim(ipt_3);
			ipt_4 = $.trim(ipt_4);
			ipt_5 = $.trim(ipt_5);
			ipt_6 = $.trim(ipt_6);
			if (ipt_0 == "" || ipt_1 == "" || ipt_2 == "" || ipt_3 == ""
					|| ipt_4 == "" || ipt_5 == "" || ipt_6 == "") {
				alert("请输入完整")
				return;
			}

			var data = '{"number" : "' + ipt_0 + '","name":"' + ipt_1
					+ '","tel" :"' + ipt_2 + '","sex" :"' + ipt_3
					+ '","dong" :"' + ipt_4 + '","dan" :"' + ipt_5
					+ '","hao" :"' + ipt_6 + '" }';
			$.ajax({
				url : "/page/user/add",
				type : "POST",
				datatype : "JSON",
				contentType : "application/json;charset=utf-8",
				data : data,
				success : function(obj) {
					if (obj.code == 0) {
						btn_cancel();
					} else {
						alert(obj.message);
					}
				},
				error : function() {
					alert("提交失败！");
				}
			});
		}
	</script>
</body>

</html>