<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"></meta>
<title>物业管理平台</title>
<style type="text/css">
body {
	height: 100%;
	margin: 0px;
	padding: 0px;
}

.div_item {
	height: 50px;
	text-align: center;
	border-bottom: 1px solid #000000;
}

.div_item a {
	height: 50px;
	text-align: center;
	line-height: 50px;
	text-decoration: none;
}
</style>
</head>
<body>
	<div class="div_item">
		<a target="content" href="/page/user/table">住户管理</a>
	</div>
	<div class="div_item">
		<a target="content" href="/page/user/table">公告管理</a>
	</div>
	<div class="div_item">
		<a target="content" href="/page/user/table">缴费管理</a>
	</div>
	<div class="div_item">
		<a target="content" href="/page/user/table">论坛管理</a>
	</div>

	<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			var pl_w = $(".page_left").width();
			$(".page_right").css("left", pl_w);

		});
		function loginOut() {
			window.location.href = "/logout";
		}
	</script>
</body>
</html>